* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: black;
}
:root {
  --transition: 1.75s cubic-bezier(.2, .6, 0, 1);
  --sizeindex: calc(1vw + 1vh);
  //--transition: .75s cubic-bezier(.2, .6, 0, 1)
}

#__next {
  height: 100%;
}

@font-face {
  font-family: raleway_m;
  src: url("../public/miami/fonts/raleway-v22-cyrillic-300.woff2");
  font-weight: 300;
}

@font-face {
  font-family: raleway_m;
  src: url("../public/miami/fonts/raleway-v22-cyrillic-900.woff2");
  font-weight: 900;
}

@font-face {
  font-family: raleway_f;
  src: url("../public/fairy/fonts/raleway-regular.woff2");
}

@font-face {
  font-family: raleway_f;
  src: url("../public/fairy/fonts/raleway-black.woff2");
  font-weight: 900;
}

@font-face {
  font-family: assassin_st;
  src: url("../public/assasin/fonts/assassin.woff2");
  font-weight: 700;
  font-style: italic;
}

.miami .swiper-wrapper {
  transition:  .03s cubic-bezier(.2, .6, 0, 1) !important;
  will-change: transform;
}